<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] — CopyStar</title>

    <link rel="stylesheet" href="~/content/css/main.css"/>
</head>

<body>
    <header>
        Header block.
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        Footer block.
    </footer>
</body>
</html>
