<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/Content/CSS/main.css"/>
</head>

<body>
    <header>
        Header block.
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        Footer block.
    </footer>
</body>
</html>
